.main_o2 {
  position: relative;
  background: #f9a856;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: auto 0 0 auto;
    width: 820px;
    height: 100vh;
    background: $color-white;
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);

    transform: translate(100%, 0);
    opacity: 0;

    @include res() {
      // clip-path: polygon(0 43%, 178% 0, 100% 81%, 0% 110%);
      clip-path: polygon(0 28%, 100% 28%, 100% 94%, 0 94%);
    }
  }
  &.on {
    &::before {
      transform: translate(0, 0);
      transition: 0.5s;
      opacity: 1;
    }

    .con {
      .txt_box {
        transform: translate(0, 0);
        transition: 0.5s 0.3s;
        opacity: 1;
      }
    }
  }
  .con {
    .txt_box {
      transform: translate(0, 80px);
      opacity: 0;

      .desc {
        dl {
          dd {
            ul {
              .m_color {
                background: #437535;
              }
              .s_color {
                background: #333333;
              }
              .b_color {
                background: #ffffff;
                border: 1px solid $color-border;
              }
            }
          }
        }
      }
      .btn {
        background: #437535;
        color: $color-white;
      }
    }
  }
}
