.main_intro {
  position: relative;
  background: linear-gradient(to bottom, #5b2c83 0%, #d1628b 100%);

  // #bg {
  //   width: 100%;
  //   height: 100%;
  // }
  .inner_wrap {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    z-index: 999;

    @include res() {
      left: 0;
    }

    span {
      padding: 0 0 0 3px;
      display: block;
      margin: 0 0 40px 0;
      font-size: 40px;
      font-weight: 100;
      color: $color-white;

      @include res() {
        padding: 0;
        margin: 0 0 16px 0;
        font-size: 24px;
        text-align: center;
      }
    }

    .txt_box {
      display: flex;
      gap: 80px;
      align-items: center;

      h2 {
        font-size: 112px;
        font-weight: 700;
        text-align: center;
        text-shadow: 0 0 8px rgba($color: $color-white, $alpha: 0.5);

        color: $color-white;
        strong {
          display: block;
          font-weight: 300;
        }
      }
      .desc {
        position: relative;
        color: $color-white;

        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 22px;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -7%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 80px;
            background: $color-white;
          }
        }
      }
      @include res() {
        flex-direction: column;
        h2 {
          font-size: 64px;
          text-align: center;
        }
        .desc {
          p {
            padding: 0 16px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;

            &::before {
              content: "";
              position: absolute;
              top: -65%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 1px;
              height: 48px;
              background: $color-white;
            }
          }
        }
      }
    }
  }
}
