.main_beakhwawon {
  position: relative;
  background: linear-gradient(to bottom, #f4896b 0%, #f9a856 100%);

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 760px;
    height: 100vh;
    background: $color-white;
    clip-path: polygon(0px 0px, 100% 20%, 100% 92%, 0 70%);

    transform: translate(-100%, 0);
    opacity: 0;

    @include res() {
      // clip-path: polygon(0 43%, 178% 0, 100% 81%, 0% 110%);
      clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
    }
  }
  &.on {
    &::before {
      transform: translate(0, 0);
      transition: 0.5s;
      opacity: 1;
    }

    .con {
      .txt_box {
        transform: translate(0, 0);
        transition: 0.5s 0.3s;
        opacity: 1;
      }
    }
  }
  .con {
    .img_box {
      order: 2;

      @include res() {
        order: 0;
      }
    }
    .txt_box {
      transform: translate(0, 80px);
      opacity: 0;
      .desc {
        dl {
          dd {
            ul {
              .m_color {
                background: #f4adad;
              }
              .s_color {
                background: #b23939;
              }
              .b_color {
                background: $color-body;
              }
            }
          }
        }
      }
      .btn {
        background: #f4adad;
        border: 1px solid #f4adad;
      }
      .s {
        background: transparent;
        border: 1px solid #f4adad;
        color: #f4adad;
      }
    }
  }
}
