.profile {
  position: relative;
  background: #ffd364;
  // background: linear-gradient(to bottom,  #ffd364 0%,#e8ed92 100%);

  .content_wrap {
    padding: 72px 0 56px 0;
    display: flex;
    justify-content: center;
    gap: 120px;

    background: rgba($color: $color-white, $alpha: 0.5);
    border: 1px solid $color-white;
    border-radius: 16px;

    .left {
      .img_box {
        margin: 0 0 24px 0;
        img {
          width: 300px;
        }
      }
      dl {
        display: flex;
        margin: 0 0 16px 0;
        dt {
          font-weight: 600;
          width: 88px;
        }
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 400px;
      strong {
        position: relative;
        display: block;
        font-size: 24px;
        font-weight: 600;
        &::after {
          content: "";
          display: block;
          margin: 8px 0 16px 0;
          width: 80px;
          height: 2px;
          background: $color-body;
        }
      }
      ul {
        li {
          margin: 0 0 16px 0;
          line-height: 1.25;
          span {
            position: relative;
            font-size: 14px;
            color: #c96b06;
            &::before {
              content: "";
              margin: 0 7px 0 4px;
              display: inline-block;
              width: 1px;
              height: 10px;
              background: $color-gray;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 80px;

      strong {
        position: relative;
        display: block;
        font-size: 24px;
        font-weight: 600;
        &::after {
          content: "";
          display: block;
          margin: 8px 0 16px 0;
          width: 80px;
          height: 2px;
          background: $color-body;
        }
      }
      .top {
        dl {
          display: flex;
          gap: 24px;
          dt {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: -13px;
              width: 1px;
              height: 32px;
              background: $color-gray;
            }
          }
          dd {
            span {
              display: block;
              font-size: 14px;
              color: #c96b06;
              line-height: 1.5;
            }
          }
        }
      }
      .bottom {
        .icon_wrap {
          // display: grid;
          // grid-template-columns: repeat(3, 1fr);
          // align-items: center;
          // gap: 16px;

          .container {
            margin: 0 0 16px 0;
            display: flex;
            gap: 16px;
            align-items: center;
          }
          .html_icon {
            width: 58px;
          }
          .css_icon {
            width: 42px;
          }
          .scss_icon {
            width: 55px;
          }
          .js_icon {
            width: 55px;
          }
          .jquery_icon {
            width: 120px;
          }
          .php_icon {
            width: 80px;
          }
          .mysql_icon {
            width: 90px;
          }
        }
      }
    }
  }
}
