.scroll_down {
  position: fixed;
  left: 5px;
  bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  z-index: 998;

  transition: 0.2s;

  @include res() {
    display: none;
  }

  &.cb {
    strong {
      color: $color-body;
    }
    .material-symbols-outlined {
      color: $color-body;
    }
  }

  &.rm {
    opacity: 0;
  }

  strong {
    margin: 0 0 48px 0;
    font-size: 12px;
    color: $color-white;
    transform: rotate(-90deg);
    transition: 0.2s;
  }

  .material-symbols-outlined {
    font-size: 14px;
    font-weight: 300;
    color: $color-white;
    transition: 0.2s;

    animation: updown 0.8s infinite linear;
  }

  @keyframes updown {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, 3px);
    }

    100% {
      transform: translate(0, 0);
    }
  }
}
