@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

p {
  word-break: keep-all;
}

body {
  line-height: 1;
  color: #222222;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  word-break: keep-all;
  font-size: 16px;
}
@media (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

em,
address {
  font-style: normal;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.con {
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 160px;
  justify-content: center;
}
.con .img_box {
  transform: translateY(-40px);
}
.con .img_box figure {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(34, 34, 34, 0.4);
}
.con .img_box .pc {
  width: 1000px;
}
.con .img_box .mobile_l {
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 250px;
}
.con .img_box .mobile_r {
  position: absolute;
  bottom: -100px;
  right: -50px;
  width: 250px;
}
.con .txt_box {
  position: relative;
}
.con .txt_box .title h2 {
  margin: 0 0 8px 0;
  font-size: 48px;
  font-weight: 700;
}
.con .txt_box .title h2 strong {
  display: block;
  margin: 0 0 4px 0;
  font-size: 40px;
  font-weight: 500;
}
.con .txt_box .title span {
  font-size: 14px;
  color: #777777;
}
.con .txt_box .title::after {
  content: "";
  margin: 32px 0;
  display: block;
  width: 80px;
  height: 1px;
  background: #dddddd;
}
.con .txt_box .desc {
  margin: 0 0 32px 0;
}
.con .txt_box .desc dl {
  display: flex;
  margin: 0 0 16px 0;
}
.con .txt_box .desc dl dt {
  font-weight: 600;
  width: 80px;
}
.con .txt_box .desc dl dd {
  width: 300px;
}
.con .txt_box .desc dl dd ul {
  display: flex;
  gap: 8px;
}
.con .txt_box .desc dl dd ul li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.con .txt_box .desc dl .d_desc {
  line-height: 1.25;
}
@media (max-width: 768px) {
  .con .txt_box .desc {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 768px) {
  .con {
    padding: 0 15px;
    gap: 30px;
    flex-wrap: wrap;
  }
  .con .img_box {
    transform: translateY(0);
  }
  .con .img_box .pc {
    width: auto;
  }
  .con .img_box .mobile_l,
  .con .img_box .mobile_r {
    display: none;
  }
  .con .txt_box .title h2 {
    margin: 0 0 8px 0;
    font-size: 32px;
    font-weight: 700;
  }
  .con .txt_box .title h2 strong {
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: 32px;
    font-weight: 500;
  }
  .con .txt_box .title::after {
    margin: 16px 0;
  }
  .con .txt_box .desc dl {
    margin: 0 0 14px 0;
  }
  .con .txt_box .desc dl dd {
    width: 100%;
  }
  .con .txt_box .desc dl .d_desc {
    line-height: 1.25;
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 50px;
  left: 2%;
  z-index: 999;
}
@media (max-width: 768px) {
  .header {
    top: 25px;
    left: 5%;
  }
}
.header h1 a {
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s;
}
.header h1.cb a {
  color: #222222;
}
.header .gnb {
  position: fixed;
  inset: 50% 80px auto auto;
  transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .header .gnb {
    inset: auto auto 5% 50%;
    transform: translate(-50%, -50%);
  }
  .header .gnb ul {
    display: flex;
    gap: 16px;
  }
  .header .gnb ul li a {
    width: auto;
    height: auto;
  }
}
.header .gnb li a {
  position: relative;
  display: block;
  width: 80px;
  height: 24px;
}
.header .gnb li a::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -30%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: rgba(34, 34, 34, 0.5);
  transition: width 0.5s;
}
.header .gnb li a span {
  display: block;
  font-size: 0;
  text-align: right;
  opacity: 0;
}
.header .gnb li.on a::after {
  background: #222222;
}
.header .gnb li.on span {
  opacity: 1;
  transition: 0.5s;
}
.header .menu_btn {
  position: fixed;
  inset: 45px 48px auto auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1000;
}
.header .menu_btn::before, .header .menu_btn::after {
  content: "";
  position: absolute;
  inset: 23px 5px auto 5px;
  height: 2px;
  background: #222222;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header .menu_btn {
    inset: 19px 14px auto auto;
    width: 40px;
    height: 40px;
  }
  .header .menu_btn::before, .header .menu_btn::after {
    inset: 17px 5px auto 5px;
  }
}
.header .menu_btn button {
  border: none;
  outline: none;
  background: transparent;
}
.header .menu_btn button::before {
  content: "";
  inset: 7px 5px auto 5px;
  position: absolute;
  height: 2px;
  background: #222222;
  opacity: 1;
  transition: 0.5s;
}
.header .menu_btn button::after {
  content: "";
  inset: auto 5px 7px 5px;
  position: absolute;
  height: 2px;
  background: #222222;
  opacity: 1;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header .menu_btn button::before {
    inset: 7px 5px auto 5px;
  }
  .header .menu_btn button::after {
    inset: auto 5px 11px 5px;
  }
}
.header .menu_btn.on::before {
  transform: rotate(45deg);
}
.header .menu_btn.on::after {
  transform: rotate(-45deg);
}
.header .menu_btn.on button::before, .header .menu_btn.on button::after {
  opacity: 0;
}
.header .wh::before, .header .wh::after {
  background: #ffffff;
}
.header .wh button::before {
  background: #ffffff;
}
.header .wh button::after {
  background: #ffffff;
}

.scroll_down {
  position: fixed;
  left: 5px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 998;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .scroll_down {
    display: none;
  }
}
.scroll_down.cb strong {
  color: #222222;
}
.scroll_down.cb .material-symbols-outlined {
  color: #222222;
}
.scroll_down.rm {
  opacity: 0;
}
.scroll_down strong {
  margin: 0 0 48px 0;
  font-size: 12px;
  color: #ffffff;
  transform: rotate(-90deg);
  transition: 0.2s;
}
.scroll_down .material-symbols-outlined {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  transition: 0.2s;
  animation: updown 0.8s infinite linear;
}
@keyframes updown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.main_intro {
  position: relative;
  background: linear-gradient(to bottom, #5b2c83 0%, #d1628b 100%);
}
.main_intro .inner_wrap {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
  z-index: 999;
}
@media (max-width: 768px) {
  .main_intro .inner_wrap {
    left: 0;
  }
}
.main_intro .inner_wrap span {
  padding: 0 0 0 3px;
  display: block;
  margin: 0 0 40px 0;
  font-size: 40px;
  font-weight: 100;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main_intro .inner_wrap span {
    padding: 0;
    margin: 0 0 16px 0;
    font-size: 24px;
    text-align: center;
  }
}
.main_intro .inner_wrap .txt_box {
  display: flex;
  gap: 80px;
  align-items: center;
}
.main_intro .inner_wrap .txt_box h2 {
  font-size: 112px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
.main_intro .inner_wrap .txt_box h2 strong {
  display: block;
  font-weight: 300;
}
.main_intro .inner_wrap .txt_box .desc {
  position: relative;
  color: #ffffff;
}
.main_intro .inner_wrap .txt_box .desc p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.main_intro .inner_wrap .txt_box .desc p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 80px;
  background: #ffffff;
}
@media (max-width: 768px) {
  .main_intro .inner_wrap .txt_box {
    flex-direction: column;
  }
  .main_intro .inner_wrap .txt_box h2 {
    font-size: 64px;
    text-align: center;
  }
  .main_intro .inner_wrap .txt_box .desc p {
    padding: 0 16px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .main_intro .inner_wrap .txt_box .desc p::before {
    content: "";
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 48px;
    background: #ffffff;
  }
}

.main_sukhyun {
  position: relative;
  background: #d1628b;
  overflow: hidden;
}
.main_sukhyun::before {
  content: "";
  position: absolute;
  inset: auto 0 0 auto;
  width: 820px;
  height: 100vh;
  background: #ffffff;
  -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
          clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
  transform: translate(100%, 0);
  opacity: 0;
}
@media (max-width: 768px) {
  .main_sukhyun::before {
    -webkit-clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
            clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
  }
}
.main_sukhyun.on::before {
  transform: translate(0, 0);
  transition: 0.5s;
  opacity: 1;
}
.main_sukhyun.on .con .txt_box {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
  opacity: 1;
}
.main_sukhyun .con .txt_box {
  transform: translate(0, 80px);
  opacity: 0;
}
.main_sukhyun .con .txt_box .desc dl dd ul .m_color {
  background: #c27b61;
}
.main_sukhyun .con .txt_box .desc dl dd ul .s_color {
  background: #333333;
}
.main_sukhyun .con .txt_box .desc dl dd ul .b_color {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.main_sukhyun .con .txt_box .btn {
  background: #c27b61;
  border: 1px solid #c27b61;
  color: #ffffff;
}

.main_inha {
  position: relative;
  background: linear-gradient(to bottom, #d1628b 0%, #f4896b 100%);
  overflow: hidden;
}
.main_inha::before {
  content: "";
  position: absolute;
  inset: 0 auto auto 0;
  width: 820px;
  height: 100vh;
  background: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 18%, 100% 72%, 0% 100%);
          clip-path: polygon(0 0, 100% 18%, 100% 72%, 0% 100%);
  transform: translate(-100%, 0);
  opacity: 0;
}
@media (max-width: 768px) {
  .main_inha::before {
    -webkit-clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
            clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
  }
}
.main_inha.on::before {
  transform: translate(0, 0);
  transition: 0.5s;
  opacity: 1;
}
.main_inha.on .con .txt_box {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
  opacity: 1;
}
.main_inha .con .img_box {
  order: 2;
}
@media (max-width: 768px) {
  .main_inha .con .img_box {
    order: 0;
  }
}
.main_inha .con .txt_box {
  transform: translate(0, 80px);
  opacity: 0;
}
.main_inha .con .txt_box .desc dl dd ul .m_color {
  background: #0770bb;
}
.main_inha .con .txt_box .desc dl dd ul .s_color {
  background: #199da3;
}
.main_inha .con .txt_box .desc dl dd ul .b_color {
  background: #2ca48f;
}
.main_inha .con .txt_box .btn {
  background: #0770bb;
  border: 1px solid #0770bb;
  color: #ffffff;
}
.main_inha .con .txt_box .s {
  background: transparent;
  border: 1px solid #0770bb;
  color: #0770bb;
}

.main_nunkkoch {
  position: relative;
  background: #f4896b;
  overflow: hidden;
}
.main_nunkkoch::before {
  content: "";
  position: absolute;
  inset: auto 0 0 auto;
  width: 820px;
  height: 100vh;
  background: #ffffff;
  -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
          clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
  transform: translate(100%, 0);
  opacity: 0;
}
@media (max-width: 768px) {
  .main_nunkkoch::before {
    -webkit-clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
            clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
  }
}
.main_nunkkoch.on::before {
  transform: translate(0, 0);
  transition: 0.5s;
  opacity: 1;
}
.main_nunkkoch.on .con .txt_box {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
  opacity: 1;
}
.main_nunkkoch .con .txt_box {
  transform: translate(0, 80px);
  opacity: 0;
}
.main_nunkkoch .con .txt_box .desc dl dd ul .m_color {
  background: #9c1d1d;
}
.main_nunkkoch .con .txt_box .desc dl dd ul .s_color {
  background: #333333;
}
.main_nunkkoch .con .txt_box .desc dl dd ul .b_color {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.main_nunkkoch .con .txt_box .btn {
  background: #9c1d1d;
  border: 1px solid #9c1d1d;
  color: #ffffff;
}
.main_nunkkoch .con .txt_box .s {
  background: transparent;
  border: 1px solid #9c1d1d;
  color: #9c1d1d;
}

.main_beakhwawon {
  position: relative;
  background: linear-gradient(to bottom, #f4896b 0%, #f9a856 100%);
  overflow: hidden;
}
.main_beakhwawon::before {
  content: "";
  position: absolute;
  inset: 0 auto auto 0;
  width: 820px;
  height: 100vh;
  background: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 18%, 100% 72%, 0% 100%);
          clip-path: polygon(0 0, 100% 18%, 100% 72%, 0% 100%);
  transform: translate(-100%, 0);
  opacity: 0;
}
@media (max-width: 768px) {
  .main_beakhwawon::before {
    -webkit-clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
            clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
  }
}
.main_beakhwawon.on::before {
  transform: translate(0, 0);
  transition: 0.5s;
  opacity: 1;
}
.main_beakhwawon.on .con .txt_box {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
  opacity: 1;
}
.main_beakhwawon .con .img_box {
  order: 2;
}
@media (max-width: 768px) {
  .main_beakhwawon .con .img_box {
    order: 0;
  }
}
.main_beakhwawon .con .txt_box {
  transform: translate(0, 80px);
  opacity: 0;
}
.main_beakhwawon .con .txt_box .desc dl dd ul .m_color {
  background: #f4adad;
}
.main_beakhwawon .con .txt_box .desc dl dd ul .s_color {
  background: #b23939;
}
.main_beakhwawon .con .txt_box .desc dl dd ul .b_color {
  background: #222222;
}
.main_beakhwawon .con .txt_box .btn {
  background: #f4adad;
  border: 1px solid #f4adad;
}
.main_beakhwawon .con .txt_box .s {
  background: transparent;
  border: 1px solid #f4adad;
  color: #f4adad;
}

.main_o2 {
  position: relative;
  background: #f9a856;
  overflow: hidden;
}
.main_o2::before {
  content: "";
  position: absolute;
  inset: auto 0 0 auto;
  width: 820px;
  height: 100vh;
  background: #ffffff;
  -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
          clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 72%);
  transform: translate(100%, 0);
  opacity: 0;
}
@media (max-width: 768px) {
  .main_o2::before {
    -webkit-clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
            clip-path: polygon(0 28%, 100% 28%, 100% 92%, 0 92%);
  }
}
.main_o2.on::before {
  transform: translate(0, 0);
  transition: 0.5s;
  opacity: 1;
}
.main_o2.on .con .txt_box {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
  opacity: 1;
}
.main_o2 .con .txt_box {
  transform: translate(0, 80px);
  opacity: 0;
}
.main_o2 .con .txt_box .desc dl dd ul .m_color {
  background: #437535;
}
.main_o2 .con .txt_box .desc dl dd ul .s_color {
  background: #333333;
}
.main_o2 .con .txt_box .desc dl dd ul .b_color {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.main_o2 .con .txt_box .btn {
  background: #437535;
  color: #ffffff;
}

.main_training {
  background: linear-gradient(to bottom, #f9a856 0%, #ffd364 100%);
}
.main_training.on .container_wrap {
  transform: translateY(0);
  transition: 0.5s;
  opacity: 1;
}
.main_training .container_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  transform: translateY(50px);
  opacity: 0;
}
.main_training .container_wrap .container {
  width: 40%;
}
.main_training .container_wrap .container:hover .img_box img {
  transform: scale(1.1);
}
.main_training .container_wrap .container .img_box {
  margin: 0 auto 24px auto;
  width: 80%;
  border-radius: 16px;
  overflow: hidden;
}
.main_training .container_wrap .container .img_box img {
  transition: 0.5s;
}
.main_training .container_wrap .container .desc_box strong {
  margin: 0 0 8px 0;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.main_training .container_wrap .container .desc_box span {
  display: block;
  text-align: center;
}

.profile {
  position: relative;
  background: #ffd364;
}
@media (max-width: 768px) {
  .profile {
    padding: 0 15px;
  }
}
.profile .inner {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .profile .inner {
    padding: 24px;
    height: 530px;
    overflow-y: auto;
  }
}
.profile .content_wrap {
  padding: 72px 16px 56px 80px;
  display: flex;
  justify-content: center;
  gap: 64px;
}
@media (max-width: 768px) {
  .profile .content_wrap {
    padding: 0;
    flex-direction: column;
    gap: 30px;
  }
}
.profile .content_wrap .left .img_box {
  margin: 0 0 24px 0;
}
.profile .content_wrap .left .img_box img {
  width: 300px;
}
.profile .content_wrap .left dl {
  display: flex;
  margin: 0 0 16px 0;
}
.profile .content_wrap .left dl dt {
  font-weight: 600;
  width: 72px;
}
@media (max-width: 768px) {
  .profile .content_wrap .left .img_box {
    display: none;
  }
}
.profile .content_wrap .center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}
@media (max-width: 768px) {
  .profile .content_wrap .center {
    gap: 30px;
    width: auto;
  }
}
.profile .content_wrap .center strong {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.profile .content_wrap .center strong::after {
  content: "";
  display: block;
  margin: 8px 0 16px 0;
  width: 80px;
  height: 2px;
  background: #222222;
}
.profile .content_wrap .center ul li {
  margin: 0 0 16px 0;
  line-height: 1.25;
}
.profile .content_wrap .center ul li span {
  position: relative;
  font-size: 14px;
  color: #c96b06;
}
.profile .content_wrap .center ul li span::before {
  content: "";
  margin: 0 7px 0 4px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #777777;
}
.profile .content_wrap .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .profile .content_wrap .right {
    gap: 30px;
  }
}
.profile .content_wrap .right strong {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.profile .content_wrap .right strong::after {
  content: "";
  display: block;
  margin: 8px 0 16px 0;
  width: 80px;
  height: 2px;
  background: #222222;
}
.profile .content_wrap .right .top dl {
  display: flex;
}
@media (max-width: 768px) {
  .profile .content_wrap .right .top dl {
    gap: 8px;
  }
}
.profile .content_wrap .right .top dl dt {
  position: relative;
}
@media (max-width: 768px) {
  .profile .content_wrap .right .top dl dt {
    line-height: 1.25;
  }
}
.profile .content_wrap .right .top dl dt::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 15px;
  width: 1px;
  height: 205px;
  background: #777777;
}
@media (max-width: 768px) {
  .profile .content_wrap .right .top dl dt::after {
    right: 5px;
    height: 220px;
  }
}
.profile .content_wrap .right .top dl dd ul li {
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
}
.profile .content_wrap .right .top dl dd span {
  font-size: 14px;
  line-height: 1.5;
}
.profile .content_wrap .right .top dl dd .date {
  color: #c96b06;
}
.profile .content_wrap .right .bottom .icon_wrap .container {
  margin: 0 0 16px 0;
  display: flex;
  gap: 16px;
  align-items: center;
}
.profile .content_wrap .right .bottom .icon_wrap .html_icon {
  width: 58px;
}
.profile .content_wrap .right .bottom .icon_wrap .css_icon {
  width: 42px;
}
.profile .content_wrap .right .bottom .icon_wrap .scss_icon {
  width: 55px;
}
.profile .content_wrap .right .bottom .icon_wrap .js_icon {
  width: 55px;
}
.profile .content_wrap .right .bottom .icon_wrap .jquery_icon {
  width: 120px;
}
.profile .content_wrap .right .bottom .icon_wrap .php_icon {
  width: 80px;
}
.profile .content_wrap .right .bottom .icon_wrap .mysql_icon {
  width: 90px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(34, 34, 34, 0.9);
  z-index: 998;
  transition: height 0.5s;
  overflow: hidden;
}
.cover.on {
  height: 100vh;
}
.cover > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cover > ul li a {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
}
.cover > ul li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
@media (max-width: 768px) {
  .cover > ul li a {
    font-size: 24px;
  }
}
.cover > ul .pf {
  display: flex;
  gap: 30px;
}
.cover > ul .pf ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cover > ul .pf ul li a {
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */